<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

<h1>Edit Review</h1>

      <form action="/users/<%= review.Movie.userId %>/movies/<%= review.Movie.id %>/reviews/<%= review.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Review Body</label>
          <input value="<%= review.Movie.body %>" type="text" class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter Body">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
