<form style="width:50%" action="/users/<%= movie.userId %>/movies/<%= movie.id %>/reviews/create" method="post">
    <div class="form-group">
      <label for="body">Review</label>
      <textarea  class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter Review"></textarea>
      <small class="text-muted" id="bodyHelp">review must be 5 or more characters in length.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>