<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= movie.title %></h1>

      <p><%= movie.year %></p>

      <p><%= movie.director %></p>

      <section id="review-form">
        <% if(currentUser && !movie.reviews) { %>
          <% include ../reviews/new.ejs %>
        <% } %>
      </section>

      <section id="review-list">
        <% if(movie.reviews) { %>
          <%- include("../reviews/show.ejs", {movie}) %>
        <% } %>
      </section>
       
      

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>