<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s Movie List` %></h1>

      <hr>

      <section class="col-lg-4">
        <h4 class="card-title">Movie List</h4>
        <p class="card-text">Add movies to your list</p>
        <a href="/movies/new" class="btn btn-danger btn-lg">Add Movie</a>
      </section>

      <hr>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>