<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Moviephile!</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<link rel="stylesheet" href="/css/application.css"> 
<link rel="icon" href="http://www.localhost:3000/favicon.ico?v=2" />
<link rel="icon" href="https://ahallam75-moviephile.herokuapp.com/" />