<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s Movie Page!` %></h1>

      <hr>

      <section class="col-lg-4">
        <h1 class="card-title">Movies</h1>
        <p class="card-text">Click on the button below to add movies to your personalized movie list.</p>
        <a href="/users/<%= user.id %>/movies/new" class="btn btn-primary">New Movie</a> 
      </section>

      <hr>

      <h1>Movie List</h1>

      

      

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

